/* Stile per BiblioHelp tab */

/*dimensione e posizione per BiblioHelp tab*/
.bibliohelp-tab {
  position: fixed;
  top:auto;
  bottom:10%;
  right:0;
  border: 0 none;
  z-index: 200;
  background: #FFF;
}

/*immagine*/
.bibliohelp-tab img{	
  margin: 0px;
  padding:0px;
  text-decoration:none;
}

/*tolgo la sottolineatura per l'immagine per BiblioHelp tab*/
.bibliohelp-tab a{	
  text-decoration: none;

/* Fine Stile per BiblioHelp tab */
